body {
	margin: 0px;
	padding: 0px;
}

table {
	margin: 10px auto 0px auto;
	border: 1px solid black;
	text-align: center;
	border-spacing: 0px;
}

td {
	vertical-align: baseline;
	padding: 4px;
}

th {
	background-color: #ddd;
	padding: 4px;
}

.warningMessage {
	color: red;
	font-weight: bold;
}

.loginHolder {
	margin: 2px 8px;
	padding: 4px 8px;
	border: 1px solid #888;
	float: right;
	border-radius: 4px;
}

.loginTitle{
	font-size: 20px;
	text-align: center;
	margin: 0px 0px;
}

.login > form > label {
	width: 70px;
	display: inline-block;
	text-align: right;
}

.login > form > input[type=text], .login > form > input[type=password] {
	margin-top: 2px;
	width: 200px;
}

.login > form > input[type=submit] {
	margin: 0px auto;
	display: block;
	width: 134px;
}

.loginFormDivider {
	text-align: center;
	width: 100%;
}

.swapFormButton {
	margin: 0px auto;
	display: block;
	width: 134px;
}


.menuItem {
	text-decoration: none;
}

.menuItem > div{
	border: 2px solid #666;
	width: 400px;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	margin-bottom: 4px;
	border-radius: 4px;
	color: black;
}

.menuItem > div:hover{
	border: 2px solid #666;
	width: 400px;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	margin-bottom: 4px;
	border-radius: 4px;
	background-color: #666;
	color: white;
	
}


.orderLineItem{
	border: 2px solid #666;
	width: 600px;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	margin-bottom: 4px;
	border-radius: 4px;
	color: black;
	
}

.orderLineItem > a {
	text-decoration: none;
}

.addLineItemButton {
	width: 40px;
	#border: 1px solid red;
	display: inline-block;
	text-decoration: none;
	float: right;
	background-color: #ddd;
	color: black;
}

.addLineItemButton:hover, .removeLineItemButton:hover {
	background-color: #666;
	color: white;
}

.removeLineItemButton {
	width: 40px;
	#border: 1px solid red;
	display: inline-block;
	text-decoration: none;
	float: left;
	background-color: #ddd;
	color: black;
}

