<table class="outerTable">
	<tr>
		<th colspan="2">					
			{{title}}
			<br />
		</th>
		
	</tr>
	
	<tr>
		<td colspan="2">
			{{lobbyInfo}}
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<span class="warningMessage">{{warningMessage}}</span>
			<h3 id="heading3">Remaining time: <p id="orderEndTimeHolder">Loading...</p></h3>
		</td>
	</tr>
	<tr>
		<td>
			<table class="orderSoFar">
				<tr>
					<th>
						Your Order so Far
					</th>
				</tr>
				<tr>
					<td>
						{{existingOrderItems}}
					</td>
				</tr>
			</table>
			
		</td>
		<td>
			<table class="menuToPickFrom">
				<tr>
					<th>
						Select Something to Add to Your Order
					</th>
				</tr>
				<tr>
					<td>
						<form action="?action=viewPlaceOrderSample&lobbyId={{lobbyId}}" method="post">
							<label for="searchText"> Search for an item here: </label></br >
							<input type="text" name="searchText" id="searchText" class="searchBox">
							<input type="submit" value="Search" class="gradientButton" />
							
							<a href="?action=viewPlaceOrderSample&lobbyId={{lobbyId}}">
								<input type="button" value="Reset Search" class="gradientButton" />
							</a>
							{{searchResultsHeader}}
						</form>
					</td>
				</tr>
				<tr>
					<td>
						
						{{menuList}}
						
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{{countDownTimer}}
