<!DOCTYPE html>
<html>
	<head>
		<title>Create an Account</title>
	</head>
	<body>
		<div class="createAccount" id="createAccount">
			<div class="warningMessage centeredWarning">{{errorMsg}}</div>
			<form action="" method="post">
				<table class="thickTable">
					<tr>
						<th colspan="2">
							Create a ChowChooser Account!
						</th>
					</tr>
					<tr>
						<td class="rightAlignText">
							<label for="username">Username:</label>
						</td>
						<td>
							<input class="loginTextInput" type="text" name="username" id="username" /><br />
						</td>
					</tr>
					<tr>
						<td class="rightAlignText">
							<label for="email">Email:</label>
						</td>
						<td>
							<input class="loginTextInput" type="text" name="email" id="email" /><br />
						</td>
					</tr>
					<tr>
						<td class="rightAlignText">
							<label for="password">Password:</label>
						</td>
						<td>
							<input class="loginTextInput" type="password" name="password" id="password"/><br />
						</td>
					</tr>
					<tr>
						<td>

							<a href="?"><input class="gradientButton" type="button" value="Back to main menu" /></a>
						</td>
						<td>
							<input class="gradientButton" type="submit" name="createAccount" id="createAccount" value="Create account" style="display: inline" />
						</td>
					</tr>
				</table>
				<input type="hidden" name="formSubmitted" value="1" /><br />
			</form>
		</div>
	</body>
