<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>ChowChooser - Create a Lobby</title>
	</head>
	<body>
		<form action="?" method="get">
			<input type="submit" name="" value="Back to main menu" />
		</form>
		<h1>Create a lobby</h1>
      <span id="errorMsg" style="color: red">{{errorMsg}}</span>
      <br>
		<form action="" method="post">
			<input type="hidden" name="createLobbyFormSubmitted" value="1" />
			<label for="lobbyName">Lobby name</label>
			<input id="lobbyName" name="lobbyName" type="text" />
			<br>
			<label for="votingEndTime">Voting time limit</label>
			<input id="votingEndTime" name="votingEndTime" type="datetime-local" />
			<br>
			<label for="orderingEndTime">Ordering time limit</label>
			<input id="orderingEndTime" name="orderingEndTime" type="datetime-local" />
			<br>
			<input type="submit" name="createLobby" id="submitLobbyForm" value="Create lobby" />
		</form>
</html>
