
<h1 id="heading1">Ordering for {{lobbyName}}</h1>
<h2 id="heading3">Concluded at {{orderingEndTime}}</h2>
<h2 id="heading2">for {{restaurant}}</h2>
<br />
<a href="?action=deleteLobby&lobbyId={{lobbyId}}" class="largeCenteredButton"><input type="button" value="Delete Lobby" class="gradientButton bigListItem largeCenteredButton votedButton" /></a>
<br />

{{orderItems}}

<table class="">
	<tr>
		<td class="rightAlignText">Subtotal:</td>
		<td class="leftAlignText">${{subtotal}}</td>
	</tr>
	<tr>
		<td class="rightAlignText">Taxes:</td>
		<td class="leftAlignText">${{taxes}}</td>
	</tr>
	<tr>
		<td class="rightAlignText">Total price:</td>
		<td class="leftAlignText">${{totalPrice}}</td>
	</tr>
</table>
<br />
<h2>Thanks for ordering with ChowChooser!</h2>
<h3 class="centeredWarning">We hope you enjoy your food and we'll see you again soon!</h3>
