{{countDownTimer}}

<h1 id="heading1">Ordering for {{lobbyName}}</h1>
<h2 id="heading2">Ordering ends at {{orderingEndTime}}</h2>
<h2 id="heading3">for {{restaurant}}</h2>
<h2 id="heading4">Remaining time: <p id="orderEndTimeHolder">Loading...</p></h2>
<br />
<a href="?action=viewPlaceOrderSample&lobbyId={{lobbyId}}" class="largeCenteredButton"><input type="button" value="Edit Your order" class="gradientButton bigListItem largeCenteredButton" /></a>
<br />
{{orderItems}}

<table class="">
	<tr>
		<td class="rightAlignText">Subtotal:</td>
		<td class="leftAlignText">${{subtotal}}</td>
	</tr>
	<tr>
		<td class="rightAlignText">Taxes:</td>
		<td class="leftAlignText">${{taxes}}</td>
	</tr>
	<tr>
		<td class="rightAlignText">Total price:</td>
		<td class="leftAlignText">${{totalPrice}}</td>
	</tr>
</table>
