<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>ChowChooser - Lobby {{lobbyName}}</title>
	</head>
	{{loginLogoutForm}}
	<body>
		<h1 id="heading1">Lobby {{lobbyName}} Completed on {{orderingEndTime}}</h1>
		<h2 id="heading2">The chosen restaurant was {{restaurant}}</h2>
		<ul id="orderItems">
			{{orderItems}}
		</ul>

	<table class="showLobbyTable">
			<tr>
				<td>Subtotal:</td>
				<td>${{subtotal}}</td>
			</tr>
			<tr>
			<td>Taxes:</td>
				<td>${{taxes}}</td>
			</tr>
			<tr>
				<td>Total price:</td>
				<td>${{totalPrice}}</td>
			</tr>
		</table>
	<a href="?action=main"><input type="button" value="Main Menu" /></a>
</html>