<tr>
	<td>
		<a href="index.php?action=showlobby&lobby={{lobbyId}}" class="lobbyRow">
			<div class="gradientButton bigListItem">
				<div>{{lobbyName}} </div>
				<!--<div>created {{lobbyAdminIcon}}by {{lobbyUsername}} </div>-->
				<div>created by {{lobbyUsername}} </div>
				<div>{{lobbyPhaseEndMessage}}<br /></div>
			</div>
		</a>
	</td>
</tr>

<!--
<a href="index.php?action=showlobby&lobby='.$lobby['id'].'">'.$lobby['name']."</a>"." User: ".$lobby['username'].$adminIcon." ".$phase_end_message."<br>";

-->
