<span class="loginHolder">
   <div class="login" id="login">
      <form action="" method="post">
         <h3 class="loginTitle">Login</h3>

         <label for="email">Email:</label>
         <input type="text" name="email" id="email" /><br />

         <label for="password">Password:</label>
         <input type="password" name="password" id="password"/><br />

         <input type="submit" name="login" id="login" value="Log in" style="display: inline" />
         <input type="submit" name="createUser" id="createUser" value="Create account" style="display: inline" />
      </form>
   </div>
</span>
