<body>
	<h1>Hello, {{userName}}!</h1>
	<!--<p>You are looking at the "View Lobbies" page!</p>-->
	<table class="thickTable">
		<tr>
			<th> Here's your current list of lobbies
			</th>
		</tr>
		{{lobbies}}
		<tr>
			<td>
				<a href="?action=createLobby" class="lobbyRow">
					<div class="gradientButton bigListItem">Create a new lobby</div>
				</a>
			</td>
		</tr>
	</table>
	
	<!--
	<a href="index.php?action=showlobby&lobby=1">Test lobby status 1</a><br>
	<a href="index.php?action=showlobby&lobby=2">Test lobby status 2</a><br>
	<a href="index.php?action=showlobby&lobby=3">Test lobby status 3</a><br>
	-->


   <div>
      <form action="" method="get">
         <input type="hidden" name="action" value="joinLobby" />
         <input id="joinLobby" placeholder="Enter code" type="text" maxlength="6" size="8" name="inviteCode" />
         <input type="submit" value="Join lobby" />
      </form>
   </div>

	<a href="?action=createLobby"><input type="button" value="Create a new lobby" /></a>

</body>
