<body>
	<h1>Hello, User {{userName}}!</h1>
	<!--<p>You are looking at the "View Lobbies" page!</p>-->
	<table>
		<tr>
			<th> here' some libbies
			</th>
			<td>
				dis a lob b
			</td>
		</tr>
	</table>
	{{lobbies}}<br><br>
	
	<!--
	<a href="index.php?action=showlobby&lobby=1">Test lobby status 1</a><br>
	<a href="index.php?action=showlobby&lobby=2">Test lobby status 2</a><br>
	<a href="index.php?action=showlobby&lobby=3">Test lobby status 3</a><br>
	-->
	
	<a href="?action=createLobby"><input type="button" value="Create a new lobby" /></a>
	
	<div class="logout" id="logout">
		<form action="?" method="post">
			<input type="submit" name="logout" id="logout" value="Log out" style="display: inline" />
		</form>
	</div>
</body>
