<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Welcome to Your Lobby!</title>
	</head>
	<body>
		<table>
			<tr>
				<th colspan="2">					
					Welcome to Your Lobby!
					<br />{{testMessage}}
				</th>
			</tr>
			<tr>
				<td colspan="2">
					Added food will display here
                    <!-- <a href="?action=start_new"><input type="button" value="Start a new order" /></a> -->
				</td>
			</tr>
			{{foodItemsString}}
            <tr>
                <td>
					
                </td>
            </tr>
			<form action="index.php/add_order" method="post"></form>
			<tr>
				<td>
                    Food Item:
				</td>
				<td>
					<input type="text" name="foodItem" />
				</td>
			</tr>
			<tr>
				<td>
                    Price: $ 
				</td>
				<td>
					<input type="number" name="price"/>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Add to order" />					
				</td>
			</tr>
				
			</form>
		</table>
	</body>
</html>