<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Welcome to ChowChooser!</title>
	</head>
	<body>

      {{loginLogoutForm}}
		
		<table>
			<tr>
				<th colspan="2">					
					Welcome to ChowChooser!
					<br />{{testMessage}}
				</th>
			</tr>
			<tr>
				<td colspan="2">
					<span class="warningMessage">{{warningMessage}}</span>
					Please choose an option below: <br />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="?action=start_new"><input type="button" value="Start a new order" /></a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					- or -
				</td>
			</tr>
			<tr>
				<td>
					Enter a code to join an order: 
				</td>
				<td>
					<form action="" method="post">
						<input type="text" name="orderKey" />
						<input type="submit" value="Join" />
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>
