<table class="welcomePageHolder">
	<tr>
		<td class="welcomePageLeftSideA">
			<div>
				STAY <br />
				CHOOSIN'
			</div>
		</td>
		
		<td class="welcomePageRightSide" rowspan="2">
			<div></div>
		</td>
	</tr>
	<tr>
		<td class="welcomePageLeftSideB">
			<span class="welcomeLoginHolder">
				<div class="welcomeLogin" id="login">
					<form action="" method="post">
						<div class="warningMessage">{{warningMessage}}<br /><br /></div>
						<table class="thickTable">
							<col width="40%" />
							<col width="60%" />
							<tr>
								<th colspan="2">
											
									<h3 class="welcomeLoginTitle">Welcome to ChowChooser!</h3>
									Get signed up or logged in to start or join an order <br />
								</th>
							</td>
							<tr>
								<td class="rightAlignText">
									<label for="email">Email:</label>
								</td>
								<td>
									<input class="loginTextInput" type="text" name="email" id="email"/><br />
								</td>
							</tr>
							<tr>
								<td class="rightAlignText">
									<label for="password">Password:</label>
								</td>
								<td>
									<input class="loginTextInput" type="password" name="password" id="password"/><br />
								</td>
							</tr>
							<tr>
								<td>
									<a href="?action=createAccount"><input type="button" value="Create Account" class="gradientButton" /></a>
								</td>
								<td>
									<input type="submit" name="login" id="login" value="Log in" style="display: inline" class="gradientButton" />
								</td>
							</tr>
						</table>	
					</form>
				</div>
			</span>
		</td>
	</td>
</table>
